<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/posts/postsPaged">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
        <!--<a class="nav-link waves-light" routerLink="posts">Artikel</a>-->
      <!--</li>-->
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link waves-light" routerLink="posts/postsPaged">Artikel</a>
      </li>
      <ng-container *ngIf="currentUser && currentUser.admin">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="posts/new">Neuer Post</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="category">Kategorien</a>
      </li>
      </ng-container>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav">
      <ng-container *ngIf="!currentUser">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="signup" routerLinkActive="active">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="login" routerLinkActive="active">Login</a>
        </li>
      </ng-container>
      <ng-container *ngIf="currentUser!=null">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="editUser">Meine Daten</a>
        </li>
        <li *ngIf="currentUser!=null" class="nav-item">
          <a (click)="logout()" class="nav-link waves-light" mdbWavesEffect>Logout</a>
        </li>
      </ng-container>
    </ul>


    <!-- Search form -->
    <!--<form class="form-inline waves-light" mdbWavesEffect>-->
    <!--<div class="md-form my-0">-->
    <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
    <!--</div>-->
    <!--</form>-->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<!--/.Navbar-->
