<div class="row mt-4"><div class="col-md-8 offset-md-2">

<!-- Default form contact -->
<form #createPostForm="ngForm" (ngSubmit)="createNewPost(createPostForm.value)"
      class="text-center border border-light p-5">

  <p class="h4 mb-4">Neuer Artikel</p>
  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Titel" required ngModel
         name="title" #title="ngModel">
  <div class="form-group">
    <textarea #text="ngModel" ngModel name="text" required class="form-control rounded-0"
              id="exampleFormControlTextarea2" rows="7" placeholder="Text"></textarea>
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{error.toString() | graphqlerror}}
  </div>
  <button class="btn-block" mdbBtn mdbWavesEffect color="primary" type="submit" [disabled]="createPostForm.invalid">Speichern</button>

</form>
<!-- Default form contact -->
</div></div>
